name: RSAlite CI

on:
  push:
  pull_request:

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout source
        uses: actions/checkout@v4

      - name: Install GCC & build tools
        run: sudo apt update && sudo apt install -y build-essential

      - name: Build unit test objects
        run: |
          gcc -Wall -Wextra -std=c11 -g -c prime.c
          gcc -Wall -Wextra -std=c11 -g -c factor.c
          gcc -Wall -Wextra -std=c11 -g -c test_factor.c

      - name: Link test binary
        run: gcc -O2 -Wall -Wextra -std=c11 -g -o test_factor test_factor.o factor.o prime.o

      - name: Run tests
        run: ./test_factor
