name: C Build and Test

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install build tools
        run: sudo apt-get update && sudo apt-get install -y build-essential

      - name: Build
        run: make

      - name: Run test (55 sqrt)
        run: echo -e "55\n2" | ./rsalite
